body {
    font-family: sans-serif, Arial;
    text-rendering: optimizelegibility;
}

h1, h2, h3, h4 {
    color: #6CAE37;
}

a {
    color: #6CAE37;
}

a:hover {
    text-decoration: none;
}

table td {
    padding: 4px;
    padding-left: 10px;
}

table td.branch {
    background-color: #d5d9de;
    border-top: 1px solid silver;
    border-left: 1px solid silver;
}

div.badges {
    margin-bottom: 15px;
}

.navbar-default {
    background-color: #6cae37;
    border-color: #e7e7e7;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover {
    color: silver;
}

.nav-tabs > li > a {
    font-weight: bold;
}

.jumbotron p {
    font-weight: normal;
}

.jumbotron ul li {
    font-size: 16px;
    padding-bottom: 7px;
}

.tab-pane p {
    padding: 15px 0px 0px 0px;
}

pre {
    font-family: monospace;
    font-size: 16px;
    color: white;
    background-color: #161616;
    padding: 15px;
}


p {
    margin: 0 0 10px;
}

li code, p code, p tt, p tt, td.content tt {
    background-color: #efefef;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    padding: 2px 3px 0;
    white-space: nowrap;
    font-family: monospace;
    color: black;
}

.footer {
    text-align: right;
}
