body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-rendering: optimizelegibility;
}

.container h1 {
    font-size: 5em;
}

.container h1, .container h2, .container h3, .container h4 {
    /*color: #404040;*/
    color: #6CAE37;
    font-family: Verdana, Georgia, ​​Helvetica, ​Arial, ​sans-serif;
}

a, a:active, a:visited {
    color: #6CAE37;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

